
@{
    ViewData["Title"] = "Index";
}

<h2>Admin Reports</h2>

<a asp-action="GameList">Game List</a>
<br />
<a asp-action="GameDetail">Game Details</a>
<br />
<a asp-action="MemberList">Member List</a>
<br />
<a asp-action="MemberDetail">Member Details</a>
<br />
<a asp-action="WishList">Wish Lists</a>
<br />
<a asp-action="Sales">Sales</a>