@model VirtualGameStore.Models.Gamerates

@{
    ViewData["Title"] = "Add New Game Rates";
}

<h2>Add New Game Rates</h2>

<h4>Gamerates</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="Userid" type="hidden" value="@ViewData["UserId"]" />
            <input asp-for="Gameid" type="hidden" value="@ViewData["GameId"]" />
            <div class="form-group">
                <label asp-for="Rates" class="control-label">Rating</label>
                <input type="number" asp-for="Rates" class="form-control" />
                <span asp-validation-for="Rates" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control" /></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
