@model VirtualGameStore.Models.Order

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Order</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Orderid" class="control-label"></label>
                <input asp-for="Orderid" class="form-control" />
                <span asp-validation-for="Orderid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderDate" class="control-label"></label>
                <input asp-for="OrderDate" class="form-control" />
                <span asp-validation-for="OrderDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Userid" class="control-label"></label>
                <select asp-for="Userid" class ="form-control" asp-items="ViewBag.Userid"></select>
            </div>
            <div class="form-group">
                <label asp-for="OrderCount" class="control-label"></label>
                <input asp-for="OrderCount" class="form-control" />
                <span asp-validation-for="OrderCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderPrice" class="control-label"></label>
                <input asp-for="OrderPrice" class="form-control" />
                <span asp-validation-for="OrderPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gameid" class="control-label"></label>
                <select asp-for="Gameid" class ="form-control" asp-items="ViewBag.Gameid"></select>
            </div>
            <div class="form-group">
                <label asp-for="Cardid" class="control-label"></label>
                <input asp-for="Cardid" class="form-control" />
                <span asp-validation-for="Cardid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Eventgameid" class="control-label"></label>
                <select asp-for="Eventgameid" class ="form-control" asp-items="ViewBag.Eventgameid"></select>
            </div>
            <div class="form-group">
                <label asp-for="DiscountRate" class="control-label"></label>
                <input asp-for="DiscountRate" class="form-control" />
                <span asp-validation-for="DiscountRate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
