@using Microsoft.AspNetCore.Http;
@model VirtualGameStore.Models.User
@inject IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "Modify";
}

<h1>Modify User Information</h1>

<h4>User</h4>
<hr />
<p style="color:red">@ViewBag.Message</p>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Update">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Userid" />
            <input type="hidden" asp-for="Password" />
            <div class="form-group">
                <label asp-for="DisplayName" class="control-label"></label>
                <input asp-for="DisplayName" class="form-control" />
                <span asp-validation-for="DisplayName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Usertype" class="control-label"></label><br />
                <input asp-for="Usertype" id="utAdmin" value="99" type="radio" /> Admin<br />
                <input asp-for="Usertype" id="utCustomer" value="00" type="radio" /> Customer<br />
                <span asp-validation-for="Usertype" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReceiveEmail" class="control-label"></label><br />
                <input asp-for="ReceiveEmail" type="radio" value="1" /> Yes<br />
                <input asp-for="ReceiveEmail" type="radio" value="0" /> No<br />
                <span asp-validation-for="ReceiveEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gender" class="control-label"></label><br />
                <input asp-for="Gender" id="genderM" value="M" type="radio" /> Male<br />
                <input asp-for="Gender" id="genderF" value="F" type="radio" /> Female<br />
                <input asp-for="Gender" id="genderO" value="O" type="radio" /> Other<br />
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BirthDate" class="control-label"></label>
                <input asp-for="BirthDate" class="form-control" />
                <span asp-validation-for="BirthDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PostCode" class="control-label"></label>
                <input asp-for="PostCode" class="form-control" />
                <span asp-validation-for="PostCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Country" class="control-label"></label>
                <input asp-for="Country" class="form-control" />
                <span asp-validation-for="Country" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Province" class="control-label"></label>
                <input asp-for="Province" class="form-control" />
                <span asp-validation-for="Province" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address2" class="control-label"></label>
                <input asp-for="Address2" class="form-control" />
                <span asp-validation-for="Address2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CellPhone" class="control-label"></label>
                <input asp-for="CellPhone" class="form-control" />
                <span asp-validation-for="CellPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HomePhone" class="control-label"></label>
                <input asp-for="HomePhone" class="form-control" />
                <span asp-validation-for="HomePhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OfficePhone" class="control-label"></label>
                <input asp-for="OfficePhone" class="form-control" />
                <span asp-validation-for="OfficePhone" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                    <label asp-for="CreatedDatetime" class="control-label"></label>
                    <input asp-for="CreatedDatetime" class="form-control" />
                    <span asp-validation-for="CreatedDatetime" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CreatedUserid" class="control-label"></label>
                    <input asp-for="CreatedUserid" class="form-control" />
                    <span asp-validation-for="CreatedUserid" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="UpdatedDatetime" class="control-label"></label>
                    <input asp-for="UpdatedDatetime" class="form-control" />
                    <span asp-validation-for="UpdatedDatetime" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="UpdatedUserid" class="control-label"></label>
                    <input asp-for="UpdatedUserid" class="form-control" />
                    <span asp-validation-for="UpdatedUserid" class="text-danger"></span>
                </div>*@
            <div class="form-group">
                <input type="submit" id="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
