@using Microsoft.AspNetCore.Http;
@model VirtualGameStore.Models.Creditcard

@{
    ViewData["Title"] = "Add New Card Information";   
}

<h2>Add New Card Information</h2>

<h4>Creditcard</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div><input  type="hidden" asp-for="Userid" id="userId" value="@ViewData["UserId"]"/></div>
            <div class="form-group">
                <label asp-for="Cardnumber" class="control-label"></label>
                <input asp-for="Cardnumber" id="creditNum" class="form-control" />
                <span asp-validation-for="Cardnumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cardholder" class="control-label"></label>
                <input asp-for="Cardholder" id="creditHolder" class="form-control" />
                <span asp-validation-for="Cardholder" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" id="submit" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
