@model VirtualGameStore.Models.Eventgame

@{
    ViewData["Title"] = "Delete Event Game";
}

<h2>Delete Event Game</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Eventgame</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Event)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Event.Eventname)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Eventgameid" />
        <input type="submit" value="Delete" class="btn btn-default" OnClick="if(!confirm('Are you sure you want to delete this item?')) return false;" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
